<!-- <h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> -->
<h1>ユーザ編集</h1>

<%= render 'form' %>

<%= link_to '表示', @user %> |

<%= link_to '戻る', users_path %>
